<!--Card-->
<div class="card testimonial-card">

    <!--Bacground color-->
    <div class="card-up default-color-dark">
    </div>

    <!--Avatar-->
    <div class="avatar"><img src="http://anjsudh.me/images/me.jpg" class="rounded-circle img-responsive">
    </div>

    <div class="card-block">
        <!--Name-->
        <h4 class="card-title">Anjana Sudhir</h4>
        <hr>
        <!--Quotation-->
        <p><i class="fa fa-quote-left"></i> Full Stack Developer, Coffee Lover</p>
    </div>

</div>
<!--/.Card-->
